.bundle
db/*.sqlite3
log/*.log
tmp/**/*
tmp/*
config/s3.yml
config/database.yml
config/deploy.rb
public/images/vslips/*
public/images/vslips/**/*
public/images/cards/*
public/images/cards/**/*
public/system/attachments/**/*
spec/fixtures/*.yml
spec/fixtures/**/*.yml
