/* - - - - - - - - - - - - - - - - - - - - -

Title : Lightbox CSS
Author : Kevin Hale
URL : http://particletree.com/features/lightbox-gone-wild/

Created : January 13, 2006
Modified : February 1, 2006

- - - - - - - - - - - - - - - - - - - - - */

#lightbox{
	display:none;
	position: absolute;
	top:50%;
	left:50%;
	z-index:9999;
	width:500px;
	height:400px;
	margin:-220px 0 0 -250px;
	border:1px solid #fff;
	background:#1b1b1b;
	text-align:left;
	font: 11px "Lucida Grande", "Lucida Sans Unicode", Verdana; color: #ffde71;
}

#lightbox[id]{
	position:fixed;
}

.lightbox-content{
	margin:  25px;
	position: relative;
	color: #fff
}

div.lightbox-content p {
	margin-bottom: 10px;
}

div.lightbox-content p a { color: #FFDE71; }
div.lightbox-content p a:hover { color: #FFF; }
div.lightbox-content input { position: relative; margin-bottom: 10px; }

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:5000;
	background-color:#000;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
#overlay[id]{
	position:fixed;
}

#lightbox.done #lbLoadMessage{
	display:none;
}
#lightbox.done #lbContent{
	display:block;
}
#lightbox.loading #lbContent{
	display:none;
}
#lightbox.loading #lbLoadMessage{
	display:block;
}

#close_button {
	position:absolute;
	top: 10px;
	right: 10px
}

p.latest {
	font: 9px/14px "Lucida Sans", "Lucida Sans Unicode", "Lucida Grande", Helvetica, Arial, Sans;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #f8f8f8
}