#header { text-align: center; margin-bottom: 25px; }
#first_page { page-break-after: always; }
#cards { text-align: left; page-break-after: always; }
#card p, #cards h2 { text-align: center; }
#vslips { text-align: left; }
#vslips img { margin: -3px -1px; }
p#footer { text-align: center; }

.qty { text-align: right; }
.title { width: 60%; text-align: left; }
.expansion, .side, .updated { text-align: center; }
table td { margin: 5px; }

@page { margin: .48in; }
@prince-pdf { prince-pdf-print-scaling: none }