#header { text-align: center; margin-bottom: 25px; }
#first_page { page-break-after: always; }
#cards { text-align: left; page-break-after: always; }
#cards p, #cards h2 { text-align: center; }
#vslips { text-align: left; }
#vslips img { width: 233px; }
p#footer { text-align: center; }

.qty { text-align: right; }
.title { width: 50%; text-align: left; }
.expansion, .side, .updated { text-align: center; }
table { width: 100%; }
table td { margin: 5px; }
table th.title { width: 50%; }
table th.expansion { width: 25%; }

@page { margin: .45in; }
