<%= link_to "Home", root_path, :class => "lbOn" %>
 &nbsp; <%= link_to "Cards", cards_path, :class => "lbOn" %>
 &nbsp; <a href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)">Feedback</a>
 &nbsp; <%= link_to "Logout", "/users/sign_out" %>
