<div id="search_details">
	<% unless params[:search].nil? %>
		<h2>Search results for: "<%= params[:search] %>"</h2>
	<% else %>
		<h2>Use search box above to narrow results</h2>
	<% end %>
	<h3><%= page_entries_info @cards %></h3>
</div>