<li class="cardlist_item">
	<div>
		<%= text_field_tag "quantity", cardlist_item.quantity, :id => nil, :class => "text-field quantity", :size => "1", :maxlength => "2", :"data-id" => cardlist_item.id, :"data-qty" => cardlist_item.quantity %>x
		<%= cardlist_item.card.truncated_title(30) %>
	</div>
	<%= image_tag "remove.png", :class => "remove_button" %>
</li>