<h1>Cardlist History</h1>
<div id="cardlists">
	<% if current_user.cardlists.empty? %>
  		<h2>No saved cardlists</h2>
 	<% else %>
		<ul>
			<%= render :partial => "home/saved_cardlist", :collection => current_user.cardlists %>
		</ul>
	<% end %>
	<div class = "button_container">
		<%= button_to "New", { :controller => "home", :action => "index", :params => params }, { :class => "button", :method => :get } %>
	</div>
</div>