<li id ="<%= "saved_cardlist_#{saved_cardlist.id}" %>">
  <%= link_to saved_cardlist.title, card_params.merge(:controller => "home", :action => "index", :cardlist_id => saved_cardlist.id) %>
  <%= l saved_cardlist.updated_at.localtime, :format => :without_time_short %>
</li>
