<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div id="first_page">
		<div id="header">
			<p>This is a custom virtual slip printout for the Star Wars: Customizable Card Game created by</p>
			<%= image_tag "vkit_logo.gif" %>
			<p>http://www.swccgvkit.com</p>
			<h2>Tips for proper printing:</h2>
			<%= image_tag "vkit_printing_hint.png" %>
		</div>
	</div>
	<%= yield %>
</body>
</html>
